.colors-rojo {
    background-color: #e10707;
}
.colors-azul {
    background-color: #0716e1;
}
.colors-verde {
    background-color: #097803;
}
.colors-morado {
    background-color: #8d0ba1;
}
.colors-gris {
    background-color: #6b6a6c;
}
.colors-blanco {
    background-color: #ffffff;
}
.colors-negro {
    background-color: #000000;
}

